{% extends 'blank_layout.html' %}
{% load static %}

{% block content %}

<section class="container-fluid ">
    <div class="row">
        <div class="col-12 col-md-6 ">
            <section class="container-fluid">
                <div class="row">
                    <row class="d-flex justify-content-center">
                        <img src="{% static 'images/gallery-img8.jpg' %}" alt="" class="col-12 col-md-12 rounded-5"
                            style="height: 300px; width: 370px;">
                    </row>
                </div>
            </section>
        </div>
        <div class=" col-12 col-md-6 ">
            <section class="container-fluid">
                <div class="row">
                    <div class="col-6 col-md-3 pt-4 ">
                        <div class="card rounded-4 border bg-dark border-primary border-3 px-0 ">
                            <a href="{% url 'show_cupboard' %}"><img src="{% static 'images/WARDROBE2.jpg' %}"
                                    class="card-img-top " style="border-radius: 13PX;height:150px;" alt=""></a>
                            <H5 class="text-center pt-2" style="color: aliceblue;">CUPBOARD</H5>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pt-4">
                        <div class="card rounded-4 border bg-dark border-primary border-3 px-0 ">
                            <a href="{% url 'show_table' %}"><img src="{% static 'images/TABLE.jpg' %}"
                                    class="card-img-top " style="border-radius: 13PX;height:150px;" alt=""></a>
                            <H5 class="text-center pt-2" style="color: aliceblue;">TABLE</H5>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pt-4 ">
                        <div class="card rounded-4 border bg-dark border-primary border-3 px-0 ">
                            <a href="{% url 'show_tv_stand' %}"><img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDuAivnvVEkfOg0bWMaGkFv3GtfeNklGZd78_-V1R85ywHflbISxIXdp43SgHiV3Mzk5I&usqp=CAU"
                                    class="card-img-top " style="border-radius: 13PX;height:150px;" alt=""></a>
                            <H5 class="text-center pt-2" style="color: aliceblue;">TV SATAND</H5>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pt-4">
                        <div class="card rounded-4 border bg-dark border-primary border-3 px-0 ">
                            <a href="{% url 'show_sofa' %}"><img src="{% static 'images/page4-img6.jpg' %}"
                                    class="card-img-top " style="border-radius: 13PX;height:150px;" alt=""></a>
                            <H5 class="text-center pt-2" style="color: aliceblue;">SOFA</H5>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pt-4">
                        <div class="card rounded-4 border bg-dark border-primary border-3 px-0 ">
                            <a href="{% url 'bedroom_set' %}"><img src="{% static 'images/BEDROOM SET.jpeg' %}"
                                    class="card-img-top " style="border-radius: 13PX;height:150px;" alt=""></a>
                            <H5 class="text-center pt-2" style="color: aliceblue;">BEDROOM SET</H5>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pt-4">
                        <div class="card rounded-4 border bg-dark border-primary border-3 px-0 ">
                            <a href="{% url 'pooja_stand' %}"><img src="{% static 'images/POOJASTAND.jpeg' %}"
                                    class="card-img-top " style="border-radius: 13PX;height:150px;" alt=""></a>
                            <H5 class="text-center pt-2" style="color: aliceblue;">POOJA STAND</H5>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pt-4">
                        <div class="card rounded-4 border bg-dark border-primary border-3 px-0 ">
                            <a href="{% url 'others' %}"><img
                                    src="https://i5.walmartimages.com/asr/50f8a93c-978f-478a-8175-0b0878ad64b2.c1b2cb65b52150dd2406e1b04f298404.jpeg"
                                    class="card-img-top " style="border-radius: 13PX;height:150px;" alt=""></a>
                            <H5 class="text-center pt-2" style="color: aliceblue;">OTHERS</H5>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pt-4">
                        <div class="card rounded-4 border bg-dark border-primary border-3 px-0 ">
                            <a href="{% url 'order' %}"><img src="{% static 'images/order.jpg' %}" class="card-img-top "
                                    style="border-radius: 13PX;height:150px;" alt=""></a>
                            <H5 class="text-center pt-2" style="color: aliceblue;">ORDERS</H5>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</section>
<br>

{% endblock %}
