{% extends 'blank_layout.html' %}
{% load static %}

{% block content %}
<section class="container bg-primary rounded-top-4">
    <div class="row pt-2 ">
        <div class="col-12"><h2>Sales Report Summery</h2></div>
        <div class="col-12 ">
            <form action="" method="post" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <section >
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <h6 style="color: aliceblue;">Date From: </h6><input type="date" name="start_date"style="width: 100%;">
                        </div>
                        <div class="col-6 col-md-2">
                            <h6 style="color: aliceblue;">Date to:</h6><input type="date" name="end_date"style="width: 100%;">
                        </div>
                        <div class="col-6" style="padding-top: 28px;">
                            <input style=" height: 25px;" type="submit" value="VIEW">
                        </div>
                    </div>
                </section>

            </form>
        </div>
    </div>
</section>
<section class="container bg-primary rounded-bottom-4">
    <div class="row">
        <div class="col-12 col-md-12 mt-2">
            <table class="css-serial table table-hover table-info table-striped table-bordered border-dark ">
                <thead class="table-dark text-center">
                    <tr>
                        <th scope="col">DATE</th>                            
                        <th scope="col">NAME</th>
                        <th scope="col">SIZE</th>
                        <th scope="col">COLOR</th>
                        <th scope="col">MATERIAL</th>
                        <th scope="col">PRIZE</th>

                    </tr>
                </thead>
                <tbody>
                    {% for product_obj in PR_reports %}
                    <tr>
                        <td>{{product_obj.sl_date |date:"d-m-Y"}}</td>                          
                        <td>{{product_obj.name |upper}}</td>
                        <td>{{product_obj.size |upper}}</td>
                        <td>{{product_obj.color |upper}}</td>
                        <td>{{product_obj.material |upper}}</td>
                        <td>{{product_obj.prize |upper}}</td>

                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</section>
{% endblock %}